<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
    <title>test</title>
  </head>
  <body>
    <div class="centre">
      <form method="POST">
        <input type="text" name="city" required />
        <button type="submit">get</button>
      </form>

      {% if data %}
      <h2 class="wheather">wheather: {{ data }}</h2>
      {% if temperature %}
      <h2>temperature: {{ temperature }}</h2>
      {% endif %} {% endif %}
    </div>
  </body>
</html>
